body{
margin: 0;
font-family: 'Lato', sans-serif;
}
.fetish_bar{
    width: 100%;
    height: 100px;
    background-color: #505d61;
    line-height: 75px;
    padding: 0px 20px;
    display: flex;
}
.bar_style{
    display: inline-block;
    font-weight: 700;

}
.ancor{
    color: #fff;
    text-decoration: none;
    font-size: 100%;
    padding: 0px 32px;
}
#food_lover{
    display: flex;
    margin-top: 5%;
    padding-left: 15%;
}
.love_eating{
    width:80%;
    float: left;
   
}
.food_pic{
    width: 50%;
    float: right;
    margin-right: 20% ;
}
.font_size{
    font-size: 50px;
}
.font_color{
    color: gray;
    padding-bottom: 10%;
}
.fetish_clr{
    color: rgb(255, 94, 0);
}
.web_visit{
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 0, 0), tomato);
    padding: 10px 40px;
    border-radius: 30px;
    color: white;
    Font-weight: 700;
}
#about{
    display: flex;
    margin-top: 15%;
    position: relative;
    background-image: url(Image/Frame\ 58.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    width: 100%;
    height: 100%;
}
.person_img{
    width: 50%;
    margin-left: 40%;
}
.Person_details{
    width:80%;
    float: left;
    padding-right:  10%;
    padding-left: 10%;
    padding-top: 5%;
}