body{
margin: 0;

font-family: 'Roboto', sans-serif;
}
.fetish_bar{
    width: 100%;
    height: 100px;
    background-color: black;
    line-height: 75px;
    padding: 0px 20px;
    display: flex;
}
.bar_style{
    display: inline-block;
    font-weight: 700;

}
.ancor{
    color: #fff;
    text-decoration: none;
    font-size: 100%;
    padding: 0px 32px;
}
#food_lover{
    display: flex;
    margin-top: 5%;
    padding-left: 15%;
}
.love_eating{
    width:80%;
    float: left;
   
}
.food_pic{
    width: 50%;
    float: right;
    margin-right: 20% ;
}
.font_size{
    font-size: 50px;
}
.font_color{
    color: gray;
    padding-bottom: 10%;
}
.fetish_clr{
    color: rgb(255, 94, 0);
}
.web_visit{
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 0, 0), tomato);
    padding: 10px 40px;
    border-radius: 30px;
    color: white;
    Font-weight: 700;
}
#about{
    display: flex;
    margin-top: 15%;
    position: relative;
    background-image:url("./image/Frame.jpg");
    background-size: 100%;
    background-position: top;
    width: 100%;
    height: 100%;
}
.person_img{
    width: 50%;
    margin-left: 40%;
}
.Person_details{
    width:80%;
    float: left;
    padding-right:  10%;
    padding-left: 10%;
    padding-top: 5%;
}
#Recipies{
    text-align: center;
    color: gray;
    padding-right: 20% ;
    padding-left: 20%;
    font-size: 80%;
    padding-top: 5%;
   
}
#Recipies_items{
    display: flex;
}
.rec_pic{
    width: 100%;
    height: 50%;
    border-radius: 15px;
    padding-top: 5%;
}
.reci_item_font{
    
    width:40%;
    float: left;
    margin-left: 5%;
    margin-right: 2%;
    padding-left: 2%;
    padding-right: 2%;
    box-shadow: gray 5px 5px 20px;
    border-radius: 15px;
    text-justify: auto;

    
}
.fa {
    padding: 20px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    text-align: center;
}
.fa-facebook {
    background: #3B5998;
    color: white;
  }
 .fa-twitter {
    background: #55ACEE;
    color: white;
  }
.fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
.fa-youtube {
    background: #bb0000;
    color: white;
  }
.fa-instagram {
    background: #125688;
    color: white;
  }
  #healthy_food{
    text-align: center;
    margin-top: 5%;
    background-color: black;
    color: #fff;
    padding-top: 2%;
    color: gray;
    padding-bottom: 1%;


}
.color_food{
    color: tomato;
}
footer{
    font-size: 60%;
}
#Social_activity{
    display: flex;
    box-shadow: 5px 5px 20px gray;
    border-radius: 15px;
    margin-top: 10%;
    margin-bottom: 10%

}
.social_media_like{
margin-left: 15%;
margin-right: 10%;

}
.logo_img{
    text-align: left;
    margin-left: 40%;
    width: 4%;
    height: 50%;
    margin-top: 2%;
}